$primary-color: #c3c3c3;
$secondary-color: #333333;

body,
html {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;

  .pimg,
  .pimg2,
  .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .ptext {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #000;
      font-size: 27px;
      letter-spacing: 8px;
      text-transform: uppercase;


      .border {
        background-color: #111;
        color: #fff;
        padding: 20px;
      }

      .trans {
        background-color: transparent;
      }
      span{
        text-shadow: 3px 3px #282e35;
      }
    }

    .para {
      position: absolute;
      width: 100%;
      text-align: center;
      font-weight: bolder;
      font-size: 38px;
      padding-top: 1em;
      text-shadow: 2px 2px #bfbfbf;
    }
  }

  nav {
    position: fixed;
    height: 100px;
    width: 1000px;
    padding: 10px 100px;
    margin: 0 auto;
    transition: .3s;
    color: #d9d9d9;
    nav.black{
      background: rgba(0,0,0,0.9);
      height: 100px;
      padding: 10px 100px;

    }
  }

  nav ul {
    width: 92%;
    text-align: center;

    li {
      border: 1px solid #d9d9d9;
      height: 29px;
      vertical-align: middle;
      letter-spacing: 0.2em;
      display: inline-block;
      width: 20%;
      margin: 0 5.5%;
      text-align: center;
    }
  }
  // *{
  //   padding: 0;
  //   margin: 0;
  //   form{
  //     position: relative;
  //     text-align: center;
  //     padding: 0;
  //     margin: 0;
  //     width: 100%;
  //     height: 50px;
  //     background-color: #999;
  //     form input{
  //       margin-right: -4px;
  //       border: none;
  //       width: 300px;
  //       height: 50px;
  //       background-color: #333;
  //       border-top-left-radius: 5px;
  //       border-bottom-left-radius: 5px;
  //       f[type="email"]
  //       {
  //         padding-left: 10px;
  //       }
  //     }
  //
  //   }
  // }


  .pimg {
    background-image: url("../img/img-one.jpg");
    min-height: 100%;
  }

  .pimg2 {
    background-image: url("../img/img-two.jpg");
    height: 60em;


      *,*::before,*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .wrapper2{
        display: grid;
        // background-color: #fff;
        width: 100%;
        max-width: 100%;
        height: 68vh;
        margin: 30px auto;
        grid-gap: 5px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 5px;
        .box_city{
          background-color: orange;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 1px 0 3px rgba(0,0,0, .5);
        }
        .box_ciy.seven{
          grid-column: 1/4;
          grid-row: span 1,2;
          background-image: url("../img/ny.jpeg");
        }
        .box_city.eight{
          grid-column:1/4;
          grid-row: span 2, 3;
          background-image: url("../img/img-three.jpg");
        }
        .box_city.nine{
          grid-column: 1/4;
          grid-row: span 4, 5;
          background-image: url("../img/img-one.jpg");
        }
        .box_city.ten{
          grid-column: 3 / span 1;
          grid-row: 4 / span 1;
          background-image: url("../img/img-two.jpg");
        }
    }
  }


  .pimg3 {
    background-image: url("../img/img-three.jpg");
    min-height: 400px;
  }
  #sec_one{
    height: 70em;

    *,*::before,*::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .wrapper{
      display: grid;
      background-color: #fff;
      width: 900px;
      max-width: 100%;
      height: 70vh;
      margin: 30px auto;
      grid-gap: 5px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
      padding: 5px;
      .box{
        background-color: orange;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 1px 0 3px rgba(0,0,0, .5);
      }
      .box.one{
        grid-column: span 3;
        grid-row: span 3;
        background-image: url("../img/ny.jpeg");
      }
      .box.two{
        grid-column: span 2;
        grid-row: span 2;
        background-image: url("../img/img-three.jpg");
      }
      .box.three{
        grid-column: 1 / span 2;
        grid-row: 4 / span 3;
        background-image: url("../img/img-one.jpg");
      }
      .box.four{
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
        background-image: url("../img/img-two.jpg");
      }
      .box.five{
        grid-column: 4 / span 2;
        grid-row: 3 / span 2;
        background-image: url("../img/img-three.jpg");
      }
      .box.six{
        grid-column: span 3;
        grid-row: span 2;
        background-image: url("../img/img-two.jpg");
      }

    }
  }



  .section {
    text-align: center;
    padding: 50px 80px;
  }

  .section-light {
    background-color: $primary-color;
    color: $secondary-color;
  }

  .section-dark {
    background-color: #282e34;
    color: #ddd;
  }
  @media(max-width: 568px) {
    .pimg,
    .pimg2,
    .pimg3 {
      background-attachment: scroll;
    }
  }

}
